.albumImage {
    width: 65%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .albumImage img {
    border-radius: 40px;
    width: 100%;
    /* transform:scale3d(5px); */
    aspect-ratio: 1;
  }
  
  .albumImage-shadow {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 92%;
    position: absolute;
    z-index: -1;
    top: 28px;
  }
  