.controls-wrapper {
  width: 50%;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.action-btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #593aad82;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .6s ease;
  box-shadow: inset -4px -4px 10px #100413, inset 4px 4px 10px 1px #83109c68;
}

.play-pause-btn.active {
  box-shadow: inset -4px -4px 10px #83109c68, inset 4px 4px 10px 1px #000000;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
